{%extends "feed_base.html"%}

{%block main%}
<div class="post_box">
    {{posts0}}
</div>
<div class="post_box">
    {{posts1}}
</div>
<div class="post_box">
    {{posts2}}
</div>
<div class="post_box">
    {{posts3}}
</div>
<div class="post_box">
    {{posts4}}
</div>
<div class="post_box">
    {{posts5}}
</div>
<div class="post_box">
    {{posts6}}
</div>
<div class="post_box">
    {{posts7}}
</div>
<div class="post_box">
    {{posts8}}
</div>
<div class="post_box">
    {{posts9}}
</div>
<div class="post_box">
    {{posts10}}
</div>
{%endblock%}